[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-phone-field = "==1.8.1"
psycopg2-binary = "==2.8.5"
pytz = "==2020.1"
sqlparse = "==0.3.1"
Django = "==2.2.5"
Pillow = "==7.1.2"
djangorestframework = "*"
django-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
